<DOCTYPE html>
    <html lang="en">
    <head>
        {# Load the tag library #}
        {% load bootstrap4 %}

        {# Load CSS and JavaScript #}
        {% bootstrap_css %}
        {% bootstrap_javascript %}

        {# Display django.contrib.messages as Bootstrap alerts #}
        {% bootstrap_messages %}
    </head>


    <body>

<br>
<div class="mx-auto" style="width: 300px;">
    <form method="post" class="form" >
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary" style="width: 300px;">
                Submit
            </button>
        {% endbuttons %}
    </form>
</div>
    </body>
