<DOCTYPE html>
    <html lang="en">
    <head>
        {# Load the tag library #}
        {% load bootstrap4 %}

        {# Load CSS and JavaScript #}
        {% bootstrap_css %}
        {% bootstrap_javascript %}

        {# Display django.contrib.messages as Bootstrap alerts #}
        {% bootstrap_messages %}
    </head>


    <body>
    <h2>Przy przebiegu: {{ Fuel.mileage_number }} km</h2>
    <h2>Koszt: {{ Fuel.cash_float }} zł</h2>
    <h2>{{ Fuel.liters_float }} litrów</h2>
    <h2>Data: {{ Fuel.created_date }}</h2>
    <a href="{% url 'delete_fueling' Car.id Fuel.id %}" style="width: 200px;" class="btn btn-primary active mx-auto" role="button" aria-pressed="true">Usuń tankowanie</a>
    </body>
    </html>