<DOCTYPE html>
    <html lang="en">
    <head>
        {# Load the tag library #}
        {% load bootstrap4 %}

        {# Load CSS and JavaScript #}
        {% bootstrap_css %}
        {% bootstrap_javascript %}

        {# Display django.contrib.messages as Bootstrap alerts #}
        {% bootstrap_messages %}
    </head>

    <body>
    {% if user.is_authenticated %}
        <div class="jumbotron mx-auto" style="max-width: 700px">
        <h1 class="display-4">Welcome in our application!</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/logout" role="button">Logout</a>
        </p>
        </div>
<div class="mx-auto" style="max-width: 700px">
        <h1>Moje samochody:</h1>
        <ul>
            {% for car in Cars %}
                {% if car.user == user %}
                <li>
                    <a href="{% url 'car' car.id %}" style="width: 200px;" class="btn btn-primary active mx-auto" role="button" aria-pressed="true">{{ car }}</a>
                {% endif %}
            {% endfor %}
        </ul>
        <form action="{% url 'add_car'  %}" method="post" style="display: inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-default btn-sm">add car</button>
        </form>
</div>
    {% else %}
        <div class="alert alert-warning" role="alert">
            You are not logged in, login or register to use our portal!
        </div>
        <a class="btn btn-primary btn-lg" href="accounts/login" role="button">Login</a>
        <a class="btn btn-primary btn-lg" href="register" role="button">Register</a>
    {% endif %}
    </body>
    </html>