<DOCTYPE html>
    <html lang="en">
    <head>
        {# Load the tag library #}
        {% load bootstrap4 %}

        {# Load CSS and JavaScript #}
        {% bootstrap_css %}
        {% bootstrap_javascript %}

        {# Display django.contrib.messages as Bootstrap alerts #}
        {% bootstrap_messages %}
    </head>


    <body>
    <h1>Serwis: {{ Service }}</h1>
    <h2>Notatka:</h2>
    <h3>{{ Service.note_text }}</h3>
    <h2>Przy przebiegu: {{ Service.mileage_number }} km</h2>
    <h2>Koszt: {{ Service.cash_float }} zł</h2>
    <h2>Data: {{ Service.created_date }}</h2>


    </body>
    </html>